* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color:white;
  padding: 2rem;
  background: rgb(38, 37, 37);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
}

title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
}

button {
  border: 1px solid rgba(206, 162, 17, 0.4);
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-decoration: none;
  margin: 4px 2px;
  transform: translateY(-2px) scale(1.03);
  background-color: rgba(179, 175, 52, 0.9);
  color: white;
  box-shadow: 0 4px 15px rgba(206, 162, 17, 0.05);
}
  